body {
    background: #0d0d0d;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: black;
}

nav a {
    color: orange;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: #111;
    padding: 40px;
    margin: 30px auto;
    width: 80%;
    border-radius: 10px;
}

.secao {
    background: #151515;
    padding: 25px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    opacity: 0.7;
}
